# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
.venv/

# Environment variable files
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE configs
.vscode/
.idea/
